@tailwind base;
@tailwind components;
@tailwind utilities;

/* ***** UTILITY ******** */

.home_bg {
  background-image: url("../assets/images/BarFrontDesktop.jpg");
  background-position: center;
  background-size: cover;
}

.menu_bg {
  background-image: url("../assets/images/DrinksDesktop.jpg");
  background-position: center;
  background-size: cover;
}

.events_bg {
  background-image: url("../assets/images/events_bg.jpg");
  background-position: center;
  background-size: cover;
}

:root {
  --egoBlue: rgb(7, 243, 255);
  --vekePink: rgb(255, 83, 255);
  --pandaGraident: linear-gradient(
    90deg,
    rgba(255, 0, 245, 1) 0%,
    rgba(247, 30, 242, 1) 38%,
    rgba(0, 129, 255, 1) 100%
  );
}

/***** drink menu ******/

.drink_menu {
  background-color: rgba(0, 0, 0, 0.643);
  box-shadow: 0px 0px 4px black;
  position: absolute;
  top: 20px;
  right: 80px;
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2.5fr;
}

.drinkContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cocktails {
  grid-column: 1 / 4;
  margin: 30px;
  border: 2px solid rgba(128, 128, 128, 0.442);
  background-color: rgba(75, 75, 75, 0.442);
  display: grid;
  height: 12rem;
  grid-template-rows: 1fr 10fr;
}

.cardContainerCocktails {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-3.5rem);
  gap: 3rem;
  height: 10rem;
  overflow-y: hidden;
  overflow-x: auto;
}

.drinkCard {
  text-align: center;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-right: 1px solid white;
  height: 50px;
}

.drinkCardCocktail {
  height: 10rem;
  min-width: 200px;
  background-color: white;
  color: black;
  text-align: center;
}

.menuHeader {
  display: flex;
  justify-content: center;
}
.menuHeader > h1 {
  transform: translateY(-50px);
  color: white;
  font-weight: bolder;
  font-size: 40px;
  padding: 5px;
}

/* events page */

.eventsWrap {
  display: grid;
  grid-template-rows: 1fr 2fr 1.5fr;
  width: 100%;
  height: 100%;
}

.eventsWrap > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  text-shadow: 10px;
}

.eventsWrap > div:nth-child(1) > h1 {
  transform: translateX(-100px);
}

.eventsDisplay {
  background-color: rgba(36, 36, 36, 0.497);
  display: grid;
  grid-template-rows: 1fr 0.06fr;
  height: 45vh;
}
.eventsDisplay > div:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 245, 1) 0%,
    rgba(247, 30, 242, 1) 38%,
    rgba(0, 129, 255, 1) 100%
  );
  border-bottom: 4px solid black;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  overflow-x: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.eventCard {
  min-width: 300px;
  height: 80%;
  height: 18rem;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}

.eventCard > div {
  display: flex;
  justify-content: center;
}

.app-wrap {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.app-wrap > div:nth-last-child(n + 3) {
  height: 100%;
  width: 100%;
}

/* navigation sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
}

.sidebar > div {
  width: 225px;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  transform: translateX(127px);
  transition-duration: 0.4s;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.75);
}

.sidebar > div > div {
  text-align: center;
  color: white;
  font-size: 30px;
}
.sidebar > div > a > div {
  text-align: center;
  color: white;
  font-size: 30px;
}

.sidebar > div:hover {
  justify-content: start;
  transform: translateX(0px);
  transition-duration: 0.3s;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.home {
  background-image: url(../assets/images/sign_bg.jpg);
  background-position: center;
}

/* navigation top */

.navigation_top {
  position: absolute;
  top: 0;
  cursor: pointer;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigation_top > div:nth-child(1) {
  background-color: white;
  box-shadow: inset 0px 0px 61px 17px rgba(0, 0, 0, 0.304);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  border: 2px solid black;
  grid-column: 1 / 2;
  grid-row: 1;
}

.navigation_top > div:not(:nth-child(1)) > div {
  background-color: white;
  box-shadow: inset 0px 0px 30px 17px rgba(0, 0, 0, 0.304);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
}

.navigation_top > div:not(:nth-child(1)) > div:hover {
  width: 150px;
  transition-duration: 0.3s;
}

.sign_bg {
  background-image: url("../assets/images/sign_bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 400px;
}

/* ********* desktop ********** */
@media (min-width: 1180.1px) {
}
/* ********* tablet ********** */
@media (max-width: 1180px) {
}
/* ********* phonen ********** */
@media (max-width: 640px) {
}
